@font-face {
  font-family: 'icons';
  src:
    url('icons.ttf?2l1rd2') format('truetype'),
    url('icons.woff?2l1rd2') format('woff'),
    url('icons.svg?2l1rd2#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chart:before {
  content: "\e905";
}
.icon-object:before {
  content: "\e906";
}
.icon-layer:before {
  content: "\e907";
}
.icon-power:before {
  content: "\e900";
}
.icon-refresh:before {
  content: "\e901";
}
.icon-ruler:before {
  content: "\e908";
}
.icon-load:before {
  content: "\e902";
}
.icon-timer:before {
  content: "\e909";
}
.icon-rotations:before {
  content: "\e90a";
}
.icon-weight:before {
  content: "\e90b";
}
.icon-wifi:before {
  content: "\e903";
}
.icon-question:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e90c";
}
